<div id="latestResults" class="text-left mb-4 px-2">
	<i class="fas fa-sim-card text-secondary"></i><a class="btn btn-link" data-toggle="collapse" href="#id{{id}}" role="button" aria-expanded="false" aria-controls="{{id}}">
		<strong>{{title}}</strong>
	</a><br>
	<span class="small pl-2">{{createdAt}}</span><br>
	<span class="badge badge-light">Grade: {{grade}}</span>&nbsp;<span class="badge badge-light">{{school}}</span>&nbsp;<span class="badge badge-light">{{district}}</span>
	<div class="collapse" id="id{{id}}">
		<div class="card card-body">
			{{body}}
		</div>
	</div>
</div>    



