<div id="latestResults" class="text-left mb-4 px-2">
	<img class="avatar-pic" src="https://avatars.dicebear.com/api/bottts/{{dataValues.UserId}}.svg" width="30px" height="100%" /><a class="btn btn-link" data-toggle="collapse" href="#id{{dataValues.id}}" role="button" aria-expanded="false" aria-controls="{{id}}">
		<strong>{{dataValues.title}}</strong>
	</a><br>
	<span class="small pl-2">{{dataValues.createdAt}}</span> | <span class="small pl-2">{{dataValues.category}}</span><br>
	<span class="badge badge-light">{{dataValues.grade}}</span>&nbsp;<span class="badge badge-light">{{dataValues.school}}</span>&nbsp;<span class="badge badge-light">{{dataValues.district}}</span>
	<div class="collapse" id="id{{dataValues.id}}">
		<div class="card card-body">
			{{dataValues.body}}
		</div>
	</div>
</div>
