<div id="latestResults" class="text-left mb-4 px-2">
	<img class="avatar-pic" src="https://avatars.dicebear.com/api/bottts/{{dataValues.UserId}}.svg" width="30px" height="100%" /></a><a class="btn btn-link float-right" data-toggle="modal" data-target="#m{{dataValues.id}}"><i class="fas fa-external-link-alt"></i></a><br>
	<a class="result-title" data-toggle="collapse" href="#id{{dataValues.id}}" role="button" aria-expanded="false" aria-controls="{{id}}">
		<strong>{{dataValues.title}}</strong>
	
	<br>
	<span class="small pl-2">{{dataValues.createdAt}}</span><br>
	<span class="small pl-2">Category: </span><span class="badge badge-light">{{dataValues.category}}</span> | <span class="small">Parent Poster:</a></span><span class="badge badge-light">{{User.dataValues.first}} {{User.dataValues.last}}</span> <br>
	<span class="badge badge-light">{{dataValues.grade}}</span>&nbsp;<span class="badge badge-light">{{dataValues.school}}</span>&nbsp;<span class="badge badge-light">{{dataValues.district}}</span>
	<div class="collapse" id="id{{dataValues.id}}">
		<div class="card card-body">
			{{dataValues.body}}
			<br>
			<span class="small"><em>Open post (<i class="fas fa-external-link-alt"></i>) to view accompanying post links if available.</span>
		</div>
	</div>


<!-- Modal -->
<div class="modal fade" id="m{{dataValues.id}}" tabindex="-1" aria-labelledby="m{{dataValues.id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">  
      <div class="modal-body">
		<div class="post-top">
			<h5 class="modal-title" id="m{{dataValues.id}}Label">{{dataValues.title}}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span class="small pl-2">{{dataValues.createdAt}}</span><br>
			<img class="avatar-pic" src="https://avatars.dicebear.com/api/bottts/{{dataValues.UserId}}.svg" width="30px" height="100%" /> <span class="small">Parent Poster: </span><span class="badge badge-light">{{User.dataValues.first}} {{User.dataValues.last}}</span>
			<hr>
			<span class="small">Category: </span><span class="badge badge-light">{{dataValues.category}}</span>&nbsp;<span class="badge badge-light">{{dataValues.grade}}</span>&nbsp;<span class="badge badge-light">{{dataValues.school}}</span>&nbsp;<span class="badge badge-light">{{dataValues.district}}</span>
			<hr>
		</div>
		<br>
        {{dataValues.body}}
		<br>
		<br>
      	{{{dataValues.linkframe}}}<br>
      	<span class="small">{{dataValues.link}}</span>
      	<br>
      </div>
    </div>
  </div>
</div>
</div>